<!--2023-01-22 -->
<!-- 실행 : http://localhost:8080/members/new -->
<!-- 회원 등록 폼 HTML -->
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"><body>
<div class="container">
    <form action="/members/new" method="post">  <!-- MemberController.java 의 @PostMapping -->
        <div class="form-group">
            <label for="name">이름</label>
            <input type="text" id="name" name="name" placeholder="이름을 입력하세요">  <!-- MemberForm.java 의 name -->
        </div>
        <button type="submit">등록</button>
    </form>
</div> <!-- /container -->
</body>
</html>